<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <h3>R. Kent Jackson</h3>
        </div>
        <div>
           <img>
            <span class="pull-right">
                <button class="btn btn-primary" type="submit">Edit</button>
                    <button class="btn btn-danger" type="button">Delete</button>
            </span>
        </div>
        <div class="col-xs-12">
            <h4>Email:</h4>
            <h4>Phone:</h4>
        </div>
       
    </div>
</div>
